

<div class="mob">
    <div class="container">
    	<div class="row">
	            <div class="history_wrap">
	                    <div class="history_list">
	                        <div class="history_item_name">
                            <h1>User History</h1>
	                           <span class="item">Username</span>
	                             <span class="item">E-mail ID</span>
	                               <span class="item">Phone No.</span>
                                   <span class="item">Vehicle Type</span>
                                   <span class="item">Reserved Date</span>
	                        </div>
	                        <!-- <div class="history_status">
	                            <span class="label label-success">Completed</span>
	                            <span class="history_total"><b>Total :</b>10000</span>
	                        </div> -->
	                    </div>
	                        <!-- <div class="history_list">
	                        <div class="history_item_name">
	                           <span class="item">Deisgner Saree 129</span>
	                             <span class="item">Readymade CHUDIDHAR 002</span>
	                               <span class="item">Kasturta pattu Saree 9761</span>
	                                 <span class="item">Deisgner Saree 129</span>
	                        </div>
	                        <div class="history_rate"> -->
	                            <!-- <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                        </div>
	                        <div class="history_status">
	                            <span class="label label-success">Completed</span>
	                            <span class="history_total"><b>Total :</b>10000</span>
	                        </div>
	                    </div> -->
	                        <!-- <div class="history_list">
	                        <div class="history_item_name">
	                           <span class="item">Deisgner Saree 129</span>
	                             <span class="item">Readymade CHUDIDHAR 002</span>
	                               <span class="item">Kasturta pattu Saree 9761</span>
	                                 <span class="item">Deisgner Saree 129</span>
	                        </div>
	                        <div class="history_rate">
	                            <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                        </div>
	                        <div class="history_status">
	                            <span class="label label-success">Completed</span>
	                            <span class="history_total"><b>Total :</b>10000</span>
	                        </div>
	                    </div>
	                        <div class="history_list">
	                        <div class="history_item_name">
	                           <span class="item">Deisgner Saree 129</span>
	                             <span class="item">Readymade CHUDIDHAR 002</span>
	                               <span class="item">Kasturta pattu Saree 9761</span>
	                                 <span class="item">Deisgner Saree 129</span>
	                        </div>
	                        <div class="history_rate">
	                            <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                        </div>
	                        <div class="history_status">
	                            <span class="label label-success">Completed</span>
	                            <span class="history_total"><b>Total :</b>10000</span>
	                        </div>
	                    </div>
	                    <div class="history_list">
	                        <div class="history_item_name">
	                           <span class="item">Deisgner Saree 129</span>
	                             <span class="item">Readymade CHUDIDHAR 002</span>
	                               <span class="item">Kasturta pattu Saree 9761</span>
	                                 <span class="item">Deisgner Saree 129</span>
	                        </div>
	                        <div class="history_rate">
	                            <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                        </div>
	                        <div class="history_status">
	                            <span class="label label-success">Completed</span>
	                            <span class="history_total"><b>Total :</b>10000</span>
	                        </div>
	                    </div>
	        	</div> -->
        </div>
    </div>
</div>